body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:0px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:right;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#707070;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#707070;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:37px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#444444;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#444444;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Source Han Sans CN", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer001 {
	-ms-transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:330.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:600.00px;
	z-index:1;
}
#_idContainer002 {
	-ms-transform:translate(37.000px,61.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(37.000px,61.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:131.14px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(37.000px,61.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(37.000px,61.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:528.00px;
	z-index:3;
}
#_idContainer003 {
	-ms-transform:translate(239.000px,240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(239.000px,240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(239.000px,240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(239.000px,240.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
	z-index:2;
}
#_idContainer004 {
	display:inline-block;
	height:351px;
	position:relative;
	width:601px;
}
#_idContainer005 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer006 {
	-ms-transform:translate(250.548px,56.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.548px,56.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.98px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(250.548px,56.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.548px,56.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:313.45px;
	z-index:2;
}
#_idContainer007 {
	-ms-transform:translate(304.000px,30.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(304.000px,30.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.98px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(304.000px,30.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(304.000px,30.020px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.00px;
	z-index:1;
}
#_idContainer008 {
	display:inline-block;
	height:95px;
	position:relative;
	width:600px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:325.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer010 {
	-ms-transform:translate(29.000px,149.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.000px,149.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(29.000px,149.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.000px,149.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:542.00px;
	z-index:1;
}
#_idContainer011 {
	display:inline-block;
	height:325px;
	position:relative;
	width:600px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:330.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.00px;
	z-index:0;
}
#_idContainer013 {
	-ms-transform:translate(237.500px,248.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(237.500px,248.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(237.500px,248.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(237.500px,248.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:124.00px;
	z-index:1;
}
#_idContainer014 {
	display:inline-block;
	height:330px;
	position:relative;
	width:599px;
}
#_idContainer015 {
    -ms-transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: auto;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    width: 599.00px;
    z-index: 0;
}
#_idContainer016 {
    -ms-transform: translate(35.500px,69.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(35.500px,69.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: auto;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    transform: translate(35.500px,69.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform: translate(35.500px,69.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    width: 528.00px;
    z-index: 2;
}
#_idContainer017 {
    -ms-transform: translate(35.500px,632.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(35.500px,632.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: 38.00px;
    left: 0px;
    position: absolute;
    top: -33px;
    transform: translate(35.500px,632.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform: translate(35.500px,632.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    width: 124.00px;
    z-index: 1;
}
#_idContainer018 {
    display: inline-block;
    height: 641px;
    position: relative;
    width: 599px;
}
#_idContainer019 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:371.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.00px;
	z-index:0;
}
#_idContainer020 {
	-ms-transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:234.10px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:528.00px;
	z-index:2;
}
#_idContainer021 {
    -ms-transform: translate(35.500px,333.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(35.500px,333.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: 38.00px;
    left: 0px;
    position: absolute;
    top: -8px;
    transform: translate(35.500px,333.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform: translate(35.500px,333.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    width: 124.00px;
    z-index: 1;
}
#_idContainer022 {
	display:inline-block;
	height:371px;
	position:relative;
	width:599px;
}
#_idContainer023 {
    -ms-transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: 350.00px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform: translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    width: 599.00px;
    z-index: 0;
    margin-bottom: 82px;
}
#_idContainer024 {
	-ms-transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:194.10px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.500px,54.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:528.00px;
	z-index:2;
}
#_idContainer025 {
    -ms-transform: translate(35.500px,291.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(35.500px,291.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: 38.00px;
    left: 0px;
    position: absolute;
    top: -9px;
    transform: translate(35.500px,291.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform: translate(35.500px,291.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    width: 124.00px;
    z-index: 1;
}
#_idContainer026 {
    display: inline-block;
    height: 388px;
    position: relative;
    width: 599px;
}
#_idContainer027 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:480.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.00px;
	z-index:0;
}
#_idContainer028 {
	-ms-transform:translate(35.500px,53.896px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.500px,53.896px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:322.96px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(35.500px,53.896px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.500px,53.896px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:528.00px;
	z-index:1;
}
#_idContainer029 {
	display:inline-block;
	height:480px;
	position:relative;
	width:599px;
}
img._idGenObjectAttribute-1 {
    height: 100.00%;
    min-width: 100%;
    width: 100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#007dc8;
	border-width:0px;
}
div._idGenObjectLayout-1 {
    text-align: center;
    top: 0px;
    margin-bottom: -4px;
}
